<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="{{ '/' }}" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">Devel</h1>
    </a>
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/#hero" class="active">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li class="dropdown"><a href="#"><span>Services</span><i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="{% url 'img_to_base64' %}">Img to Base64</a></li>
          </ul>
        </li>
        <li><a href="/#portfolio">Portfolio</a></li>
        <li><a href="/#team">Team</a></li>
        <li><a href="/#pricing">Pricing</a></li>
        <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li class="dropdown"><a href="{% url 'app' %}"><span>Our Apps </span><i class="bi bi-chevron-down toggle-dropdown"></i> </a>
            <ul>
              <li><a href="{% url 'SlotifyServiceList' %}">Slotify Services</a></li>
            </ul>
          </li>
            {% if user.is_authenticated %}            
            <li class="dropdown"><a href="#"><span>My Account</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'profile' %}">My Account</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" href="#about">Get Started</a>

  </div>
</header>