{% extends 'base.html' %}
{% block title %} {{data.serviceDetail}} {% endblock %}
{% block body %}
<section class="first_section">
    <div class="container">
        <h1>{{data.serviceDetail}}</h1>
        <div class="row">
            <div id="calendar"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %} 
<script>
   var events = [];
   
   $.ajax({
        url: '/apps/slots/{{data.id}}/',
        method: "GET",
        success: function (response) {
            console.log(response);
            // displaySlots(response.slots);
        },
        error: function (xhr, status, error) {
            console.error("Error fetching slots:", error);
        }
    });             
   fetch('/slots/{{data.id}}')
     $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: events,
                eventClick: function(event) {
                    alert("You clicked on the slot " + event.title);
                    // You can also open a modal to book the slot here
                }
            });
        });
</script>
{% endblock %}