{% extends 'todo_base.html' %}
{% block body %}

<section class="first_section">
    <div class="container">
        <div class="row gy-4">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button  class="btn btn-info" type="submit">Submit</button>
        </form>
    </div>
</div>
</div>
</section>

{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    // Add class to password fields
    $('input[type="password"]').addClass('form-control');
});
</script>
{% endblock %}